/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.fondo{
  padding: auto;
  background-image: url("water-background.jpg");
}

body {
  background-image: url("water-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  background: linear-gradient(to right, #4fc3f7, #039be5);
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background: linear-gradient(to right, #4fc3f7, #039be5);
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Estilos específicos de cada página */
section {
  margin-bottom: 20px;
}

/* Estilos del formulario de contacto */
form {
  margin-bottom: 20px;
}

form label,
form input,
form textarea {
  display: block;
  margin-bottom: 10px;
}

form input,
form textarea {
  width: 100%;
  padding: 5px;
}

form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Estilos del logo, título y enlaces en el encabezado */
header {
  display: flex;
  align-items: left;
 
  flex-direction: column; 
}

header h1 {
  background: linear-gradient(to right, #039be5, #01579b);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
}

header img {
  height: 70px;
  margin-right: 10px;
}

header nav {
  padding: 10px 20px;
  text-align: center;
  margin-top: 10px;
}
